bin/
dist/
build/
tmp/

*.exe
*.exe~
*.dll
*.so
*.dylib

*.test
*.out
coverage*

go.work
go.work.sum

.env
.env.*

.idea/
.vscode/
*.iml

/docs/swagger.json
/docs/swagger.yaml

docker-compose.override.yml
